*{
    box-sizing: border-box;

}
:root{
    --colorOrL:#f9a743;
}
body {
    font-family: "Josefin Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 300;
    color: #3b4045;
}
section{
    padding: 2rem 3rem;
}
ul {
    list-style: none;
gap: 5rem;
}

input{
    padding: 1rem;
    margin-right: 1rem;
    outline: none;
}
img{
    display: block;
    margin: auto; 
}

h4 {
    font-size: 20px;
}

p {
    font-size: 20px;
}


a{
    text-decoration: none;
}
h1 {
    font-size: 40px;
}

button {
    color: #fff;
    background-color: var(--colorOrL);
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 40px;
    border-color:var(--colorOrL);
    box-shadow:var(--colorOrL);
    box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);

}

h2 {
    text-align: center;
    font-size: 40px;
}
/*------------------------header section------------------*/
nav ,ul{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
nav div{
    display: flex;
}
.logo {
    width: 40px;
    height: 50px;
    margin-left: 1rem;

}

.vex {
    font-weight: bold;
}
/*---------------------------hero section-------------------------*/

#watch {
    width: 250px;
    height: 450px;
}

/*---------------------------services section-------------------------*/
#services{
    padding: 0;
}
.orange {
    background-color:var(--colorOrL);
    color: #fff;
    width: 100%;
    padding: 5rem;
}


#h {
    font-size: 40px;
}


.Apple{
    margin: 20px;
    padding: 60px;
    text-align: center;
    position: relative;
top: 30px;
}

.image{
    width: 100%;
    overflow-x: scroll;
}

.product{
    background-image: url(images/call-to-action.jpg);
 background-image: linear-gradient(white), url(images/call-to-action.jpg);
}

.reviews{
   text-align: center;
}
.reviews p{
    
        font-size: small;
        font-family:'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif ;
 
}
.reviews img{
border-radius: 50%;
width: 50px;
}

.reviews h4{
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
}

footer{
    background-color: #eae9e9;
    text-align: center;
    padding: 50px;
    margin-top: 40px;
    
}
